<h1>Dashboard#index</h1>

<h2>Properties</h2>
<%= link_to "New property", new_property_path %>
<ul>
  <% Current.account.properties.each do |prop| %>
    <li><%= link_to prop.name, property_path(prop) %></li>
  <% end %>
</ul>

<hr>
<%= link_to logout_path, method: :delete, class: "contrast", data: { turbo: false } do %>
  Logout
<% end %>
