<%= form_with model: [:admin, account] do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name, required: true %>
  </div>

  <div>
    <%= form.submit class: "button" %>
  </div>
<% end %>
