<% content_for :title, t("admin.titles.edit_account") + " | #{@account.name}" %>

<h1><%= t("admin.titles.edit_account") %></h1>

<%= render "form", account: @account %>
<%= link_to t("admin.buttons.back"), admin_accounts_path, class: "button" %>
