<% content_for :title, t("admin.titles.new_account") %>

<h1><%= t("admin.titles.new_account") %></h1>

<%= render "form", account: @account %>
<%= link_to t("admin.buttons.back"), admin_accounts_path, class: "button" %>
