<% content_for :title, "Edit authorized user | #{@authorized_user.email_address}" %>

<h1>Edit authorized user</h1>

<%= render "form", authorized_user: @authorized_user %>
<%= link_to "Back", admin_authorized_users_path, class: "button" %>
