<% content_for :title, t("admin.titles.edit_authorized_user") + " | #{@authorized_user.email_address}" %>

<h1><%= t("admin.titles.edit_authorized_user") %></h1>

<%= render "form", authorized_user: @authorized_user %>
<%= link_to t("admin.buttons.back"), admin_authorized_users_path, class: "button" %>
