<% content_for :title, "Edit booking" %>
<%= render_nav title: "Edit booking", back_url: params[:back_to] || property_path(@property) do %>
  <li>
    <%= button_to "Cancel", property_booking_path(@property, @booking), class: "header", type: "button", method: :delete, data: { turbo_confirm: "Are you sure?" } %>
  </li>
<% end %>

<%= render "form", booking: @booking, available_rooms: @available_rooms %>
