<% content_for :title, t("titles.edit_booking") %>
<%= render_nav title: t("titles.edit_booking"), back_url: params[:back_to] || property_path(@property) do %>
  <li>
    <%= button_to_with_icon t("buttons.cancel_booking"), property_booking_path(@property, @booking), "x", class: "header danger", method: :delete, data: { turbo_confirm: t("helpers.confirm.delete") }  %>
  </li>
<% end %>

<%= render "form", booking: @booking, available_rooms: @available_rooms %>
