<% content_for :title, "Edit booking" %>
<%= render_nav title: "Edit booking", back_url: params[:back_to] || property_path(@property) do %>
  <li>
    <%= button_to_with_icon "Cancel booking", property_booking_path(@property, @booking), "x", class: "header danger", method: :delete, data: { turbo_confirm: "Are you sure?" }  %>
  </li>
<% end %>

<%= render "form", booking: @booking, available_rooms: @available_rooms %>
