<% content_for :title, "New booking" %>

<h1>New booking</h1>

<%= render "form", booking: @booking %>

<br>

<div>
  <%= link_to "Back", property_bookings_path(@property) %>
  <%= link_to "Back to bookings", property_bookings_path(@property) %>
</div>
