<% content_for :title, "Editing #{@property.name}" %>
<%= render_nav title: "Editing property", back_url: property_path(@property) do %>
  <li>
    <%= link_to "Rooms", property_rooms_path(@property), type: "button", class: "primary" %>
  </li>
<% end %>

<%= render "form", property: @property %>

<div>
  <%#= button_to "Destroy this property", property_path(@property), class: "secondary", method: :delete, data: { turbo_confirm: "Are you sure?" } %>
</div>
