<% content_for :title, "Editing property" %>

<h1>Editing property</h1>

<%= render "form", property: @property %>

<br>

<div>
  <%= link_to "Show this property", account_property_path(Current.account, @property) %> |
  <%= link_to "Back to properties", account_properties_path(Current.account) %>
</div>
