<p style="color: green"><%= notice %></p>

<% content_for :title, "Rooms" %>

<h1>Rooms</h1>

<div id="rooms">
  <% @rooms.each do |room| %>
    <%= render room %>
    <p>
      <%= link_to "Show this room", property_room_path(@property, room) %>
    </p>
  <% end %>
</div>

<%= link_to "New room", new_property_room_path(@property) %>
