.bookings-show {
  margin: 2rem;
}

.bookings-list-item a {
  text-decoration: none !important;
  color: unset !important;
}

.bookings-list-item dl {
  color: unset !important;
}

.bookings-list-item article {
  margin: 20px;
  border: 1px solid var(--pico-primary-background);
}

.bookings-check-in,
.bookings-check-out {
  color: white;
}

.bookings-check-in svg,
.bookings-check-out svg {
  vertical-align: revert;
}

.bookings-check-in {
  background-color: #27ae60;
}

.bookings-check-out {
  background-color: #e67e22;
}
