form.button_to button.header {
  margin: 0;
  padding: calc(
      var(--pico-nav-link-spacing-vertical) - var(--pico-border-width) * 2
    )
    var(--pico-nav-link-spacing-horizontal);
}

.form-errors {
  border: 1px solid #d93526;
  border-radius: var(--pico-border-radius, 2rem);
  padding: 1rem;
  margin-bottom: 1.5rem;
}

.form-errors h3 {
  margin-top: 0;
  font-weight: bold;
}

.form-errors ul {
  margin: 0;
  padding-left: 1.25rem;
  list-style-type: disc;
}

.form-errors li {
  color: #d93526;
}

.form-errors li:not(:last-child) {
  margin-bottom: 0.5rem;
}
