<%# locals: (title:, back_url:, menu_content:) -%>

<% content_for :nav do %>
  <nav>
    <ul>
      <% if back_url == "history.back()" %>
        <li><%= link_to_with_icon "", "arrow-left", icon_options: { height: 26, width: 26 }, onclick: "history.back()", type: "button", class: "primary" %></li>
      <% elsif back_url&.starts_with?("/") %>
        <li><%= link_to_with_icon back_url, "arrow-left", icon_options: { height: 26, width: 26 }, method: :get, type: "button", class: "primary" %></li>
      <% end %>
      <li>
        <% if title %>
          <strong><%= title %></strong>
        <% end %>
      </li>
    </ul>
    <ul>
      <% if menu_content %>
        <%= menu_content %>
      <% else %>
        <li></li>
      <% end %>
    </ul>
  </nav>
<% end %>
